.body{
    

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.logo {
    padding: 0 5rem;
}

 .hamburger {
        display: block;
        padding: 0 3rem;
        
    color: #fff;
    font-size: 25px;
}
    


.logo .logo-heading {
    color:palevioletred;
    padding-bottom: 12px;
    display: flex;
}
.navbar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: darkmagenta;
    
    
}
.header{
    color: crimson;
    font-weight: 100;
    font-size: large;
    display: flex;
    position: fixed;
    
    
}
 .menu {
        position: absolute;
        right: 0;
        padding: 0 3rem;
        top: 75px;
        background-image: linear-gradient(180deg, #74D7BB, #53C8B6, #35A99C);
        display: none;
        transition: all 0.25s;
 }

.menu-list{
    color:white;
    display: flex;
    list-style: none;
    cursor: pointer;

}
.menu-list-items{
    color:white;
   padding: 1.5rem 1rem;
   padding-left: 10px;
   display: flex;
}
    
@media screen and (min-width: 856px) and (max-width: 1024px) {
    .menu-list .menu-list-items {
        padding: 1.5rem 0.3rem;
    }
}
.item{
    color: brown;
    display: flex;
}
.hero {
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 120%;
    height: 100vh;
    display: flex;
    align-items:first baseline;
    justify-content: start;
    margin: 9.8rem 0;
    color: brown;
    padding-bottom: 10px;
    position:-webkit-sticky;
    font-size: 100%;
    
    font-size: larger;
}

.hero .intro {
    text-align: baseline;
    margin: 0 5rem;
    
}
.hero .intro-buttons {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    color: deeppink;
    
}
.intro-buttons{
    color: aqua;
}
.btn ghost-btn{
    color: aqua;
}

.skills{
    margin: 4.8rem 0;
    padding: 0 5rem;
}
.port-card {
    padding: 0 !important;
    background: none !important;
    border: 2px solid #000;
}

.port-card .image {
    width: 100%;
}
.port-card .image img {
    height: 200px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4.8rem 0;
    padding: 0 5rem;
}
.my-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}
.my-row .my-col {
    text-align: center;
    width: 30%;
}
.my-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-image: linear-gradient(#74D7BB, #53C8B6, #35A99C);
    padding: 1rem;
}
.icon {
    height: 100px;
    width: 50px;
    border-radius: 50%;
    background-color: #363D73;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon svg {
    font-size: 30px;
    color: #fff;
}
contact {
    padding: 0 5rem;
    color: chocolate;
    position: relative;
}
.my-heading text-center{
    color: chocolate;
}

.contact-content {
    display: flex;
    margin: 3rem 0;
    justify-content: space-between;
    color: chocolate;
}

.contact-form-container {
    width: 50%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    color: chocolate;
}

.contact-form .form-controls {
    width: 80%;
    padding: 10px 0;
    margin: 1.67rem 0;
}

.contact-form .form-btn {
    width: 83%;
}
.footer{
    padding: 0rem;
    color: black;
    display: flex;
    text-align: center;
}
.links{
    color: black;
    text-align: center;
    
}
.about {
    display: flex;
    align-items: center;
    background-color:lightgrey;
    justify-content: center;
    width: 80%;
    text-align: center ;
    text-decoration:dotted;
    position:relative;
}

.about-text {
    width: 450px;
    color:orangered;
    padding: 5rem 1rem 5rem 5rem;
    text-align: center;
    align-items: center;

}
.lead-para{
    color: darkviolet;
    text-align: center;
}
.about-message{
    color:blue;
    
}
.my-heading{
    display: flex;
    
    text-align: center;
    align-items: center;
}
.projects{
    color: blue;
    text-align: center;
    font-size: larger;
    margin: 10px;
    
}
.project-heading text-center{
    column-gap: normal;
    content: normal;
    display: flex;
    color: aqua;
}
.project-content{
    color: black;
    border: #000 solid;
}
.project-image .image{
    width: 100%;
    
}
.video{
    color: darkgreen;
}
.footer {
    background-color:darkblue;
    color: #fff;
    padding: 2rem;
}
.footer-list-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 1rem 1rem 0 1rem;
    border-radius: 50%;
    background-color: #53C8B6;
}
.footer-header {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}
.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-menu {
    padding: 0 5rem;
}
.footer-menu .footer-menu-list {
    display: flex;
    list-style: none;
}
/* utility classes */
.greet-heading {
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0;
    letter-spacing: 1px;
}
.my-heading {
    font-size: 2.5rem;
    margin: 0;
}
.sub-heading {
    margin: 0;
    font-size: 0.8rem;
    color: #ccc;
    font-weight: lighter;
}
.links:hover {
    border-bottom: 2px solid #fff;
}

.link-footer {
    border-bottom: 2px solid transparent;
    transition: all 0.25s;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
}
.common-btn {
    background-color: #35A99C;
    color: #fff;
    border: 2px solid #35A99C;
    transition: all 0.25s;
}
.common-btn:hover {
    background-color: #fff;
    color: #35A99C;
    border: 2px solid #35A99C;
    outline: none;
}
.ghost-btn {
    background-color: #fff;
    color: #35A99C;
    border: 2px solid #35A99C;
    outline: none;
}
.ghost-btn:hover {
    background-color: #35A99C;
    color: #fff;
    transition: all 0.25s;
    border: 2px solid #35A99C;
}
.heading-span {
    font-weight: bolder;
}

.text-center {
    text-align: center;
}
.small-para {
    font-size: 14px;
    color: #fff;
}
.white-text {
    color: #fff;
}
.blue-text {
    color: #363D73;
}






